@import url("css/normalize.css");

/***********************************/
/*******Первичные настройки*********/
::before,
::after{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.clearfix::after, .header:after{
    content: "";
    display: table;
    clear: both;
}

.page{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #444444;
    /* 1rem = 16px */
    font-size: 1rem;
    /* 22px / 16px = 1.375rem */
    line-height: 1.375;
    margin: 0;
}

.page_cell{
    max-width: 1180px;
    margin:0 auto;
}
/******END Первичные настройки******/
/**************HEADER***************/
.header{
    border-bottom: 1px solid #cccc;
    padding: 1.8rem 0;
}
.phone_number, .email_address{
    text-decoration: none;
}
.phone_number{
    font-weight: bold;
    color: black;
    font-size: 1.5625rem;
}
.email_address{
    color: #808080;
}
.header_logo{
    float: left;
}
.header_contact{
    float: right;
    text-align: right;
}
/************END HEADER*************/
/**************MENU***************/
.nav{
    padding: 1.325rem;
}
.nav_list{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}
.link{
    color: #444444;
    text-decoration: underline;
}
.link:hover{
    color: #f7837c;
    transition: 0.5s;
}
.nav_link{
    text-decoration: none;
    font-size: 1.1875rem;
    color: #444444;
}
/************END MENU*************/
/**************SLIDER***************/
.slider_item{
    padding-top: 33%;
    background-position: centr;
    background-repeat: no-repeat;
    background-size: cover;
}
.slider .owl-dots .owl-dot span{
    background: #ffffff;
    border: 1px solid #cccccc;
    width: 0.9rem;
    height: 0.9rem;
    display: block;
    margin: 0 0.4rem;
}
.slider .owl-dots .owl-dot.active span{
    background: #000000;
    border-color: #000000;
}
.slider .owl-dots .owl-dot hover span{
    background: #000000;
    border-color: #000000;
}
.slider .owl-dots{
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    bottom: 0.1rem;
}
/***********END SLIDER**************/
/************ABOUT US***************/
.section_hedline{
    text-align: center;
    font-size: 1.75rem;
    font-weight: normal;
    color: #000000;
    margin: 2rem 0;
}
/**********END ABOUT US************/
/********POPULAR CECTIONS**********/
.grid_item{
    float: left;
    /*20 * 100 / 1180 = 1.7*/
    margin-right: 1.7%;
    margin-bottom: 1.7%;
    /*(100 - 1.7) / 2 = 49.15*/
    width: 49.15%;
    position: relative;
}
.grid_item:nth-of-type(2n){
    margin-right: 0;
}
.grid_wrap{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    transition: 0.5s;
}
.grid_wrap:hover{
    background: rgba(0, 0, 0, 0.8);
}
.grid_picture{
    display: block;
    max-width: 100%;
}
.grid_link{
    color: #f4f4f4;
    text-align: center;
    font-size: 1.8125rem;
}
.grid_text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
/*******END POPULAR CECTIONS*******/
/**********OUR ADVANTAGES**********/
.icon_circle{
    display: inline-block;
    width: 6.25rem;
    height: 6.25rem;
    background: #ffb9b3;
    border-radius: 50%;
}
.advantage_item{
    text-align: center;
    width: 28%;
    margin-right: 8%;
}
.advantage_item:last-child{
    margin-right: 0;
}
.icon_circle_picture{
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.advantages{
    display: flex;
    flex-direction: row;
}
.advatage_headline{
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0.8rem;
}
/*******END OUR ADVANTAGES*******/
/*************FOOTER*************/
.page_row_footer{
    background: #595959;
    color: #ffffff;
    font-size: 1rem;
    margin-top: 4rem;
}
.footer_copyright{
    text-align: right;
}
.footer_link{
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}
.footer{
    padding: 1.2rem;
}